*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
 
}

/* shared style start here  */
.primary-btn{
    border: none;
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;

}

.primary-btn:hover{
    background-color: #ffffff75;
    border: 2px solid #4E47FF;
    color: #4E47FF;
}


.paragraph-style{
    font-weight: 400;
    font-size: 24px;
    color: #25243275;
    margin-bottom: 24px;
}

/* shared style end here */
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    margin-bottom: 115px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding-top: 50px
}

nav h1{
    color: #4E47FF;
    font-weight: 800;
    font-size: 34px;
}

.banner-section{
    display: block;
    text-align: center;
    align-items: center;
    margin: 200px 265px 150px 265px;
}

.banner-section h1{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;
}

.action{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 15px;
    padding: 25px;
    background-color: aliceblue;
    margin-bottom: 116px;
}

.action-content h2{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 24px;
    color: #252432;
}

.action-img img{
    border-radius: 48px;
}

.users{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid gainsboro;
    border-radius: 24px;
    background-color: #4d47ff2c;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 135px;
}
.users h1{
    padding-top: 52px;
    font-weight: bold;
    font-size: 38px;
    color: #252432;

    margin-bottom: 40px;
}
.user{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.users-content h1{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
}
.users-content p{
    font-weight: 400;
    font-size: 16px;
    color: #00000073;
    margin-bottom: 50px;
}

.reviews{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 135px;

}

.reviews h1{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 40px;
}
.review-card{
    display: flex;
    gap: 20px;
}
.r-card{
    text-align: start;
    height: 200px;
    width: 365px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background-color: #4d47ff17;
    padding: 24px;
}

.r-card h2{
    font-weight: bold;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 10px;

}

.r-card p{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
}

.user-profile{
    display: flex;
    gap: 12px;
}
.user-profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.user-profile p{
    font-weight: 400;
    font-size: 18px;
    color: #25243294;
}