*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
   
 
}
body{
    background-color: #4d47ff11;
}

/* shared style start here  */
.primary-btn{
    border: none;
    background-color: #4E47FF;
    
    padding: 12px 36px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.primary-btn:hover{
     transform: scale(1.05);
    background-color: #ffffff; 
    border: 2px solid #4E47FF;
    color: #4E47FF;
}

.paragraph-style{
    font-weight: 400;
    font-size: 24px;
    color: #25243275;
    margin-bottom: 24px;
}

/* shared style end here */

/* header section start */
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    margin-bottom: 115px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding-top: 50px
}

nav h1{
    color: #4E47FF;
    font-weight: 800;
    font-size: 34px;
    
}

nav img{
    height: 80px;
    width: 100px;
}

nav button{
    background-image: url(https://img.icons8.com/?size=24&id=T594YO5M5wL5&format=png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 12px center;
   

}
.banner-section{
    display: block;
    text-align: center;
    align-items: center;
    margin: 200px 265px 150px 265px;
}

.banner-section h1{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;
}

.banner-section button{
    background-image: url(https://img.icons8.com/?size=50&id=123809&format=png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 12px center;
}

/* header section end */

/* action section style start */
.action{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 15px;
    padding: 25px;
    background-color: aliceblue;
    margin-bottom: 116px;
}

.action-content h2{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 24px;
    color: #252432;
}

.action-content button{
    background-image: url(https://img.icons8.com/?size=80&id=2E3GpDXMgxfj&format=png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 12px center;
}
.action-img img{
    border-radius: 48px;
}

/* action section style end */



/* user section style start */
.users{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid gainsboro;
    border-radius: 24px;
    background-color: #4d47ff2c;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 135px;
}
.users h1{
    padding-top: 52px;
    font-weight: bold;
    font-size: 38px;
    color: #252432;

    margin-bottom: 40px;
}
.user{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.users-content h1{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
}
.users-content p{
    font-weight: 400;
    font-size: 16px;
    color: #00000073;
    margin-bottom: 50px;
}


/* reviews style start */
.reviews{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 135px;

}

.reviews h1{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 40px;
}
/* review card style start */
.review-card{
    display: flex;
    gap: 20px;
}
.r-card{
    text-align: start;
    height: 200px;
    width: 365px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background-color: #4d47ff17;
    padding: 24px;
}

.r-card h2{
    font-weight: bold;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 10px;

}

.r-card p{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
}
/* review card style end */
/* review style end  */


.user-profile{
    display: flex;
    gap: 12px;
}
.user-profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.user-profile p{
    font-weight: 400;
    font-size: 18px;
    color: #25243294;
}
/* user section style end */

/* focus section style start */
.focus{
    max-width: 1140px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 2px solid gainsboro;
    border-radius: 15px;
    padding-top: 70px;
    padding-bottom: 50px;
    margin-bottom: 95px;
    background-color: #FFFFFF;
    box-shadow: 3px 5px 15px -4px rgba(0,0,0,0.79);
    -webkit-box-shadow: 3px 5px 15px -4px rgba(0,0,0,0.79);
    -moz-box-shadow: 3px 5px 15px -4px rgba(0,0,0,0.79);
}
.focus h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.focus p{
    font-weight: 400;
    font-size: 16px;
    color: #0000007e;
    margin-bottom: 20px;
}
.focus button{
    margin-bottom: 25px;
}
.focus img{
    border-radius: 48px;
}

.focus-content button{
     background-image: url(https://img.icons8.com/?size=80&id=43463&format=png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 12px center;
}
/* focus section style end here */

/* contact form style start here */
.contact{
   
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.contact h1{
    font-weight: bold;
    font-size: 95px;
}

/* contact from style start here */
form{
    padding-right: 50px;
}
label{  /* label start style*/
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input, textarea{  /* input and textare start*/
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    padding:20px 32px;
    margin-bottom: 20px;
    border: 2px solid gainsboro;
    border-radius: 10px;

}
.submit-btn{
    position: absolute;
    width: 380px;
    
}
.submit-btn button{
    background-image: url(https://img.icons8.com/?size=50&id=53388&format=png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 70px center;
}
/* conact form style end here */


/* footer style start */
footer{
    margin-top: 90px;
    text-align: center;
    
}
footer img{
    height: 200px;
    width: 250px;
    padding-left: 30px;
    margin-bottom: 10px;

}
footer h1{
    font-weight: 700;
    font-size: 40px;
    color: #4E47FF;
    margin-bottom: 10px;
    margin-top: 0;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    color: #8987A1;
    text-align: center;
    margin-bottom: 20px;
}

.menubar{  /* footer menubar style */
    display: flex;
    justify-content: space-around;
    padding-left: 640px;
    padding-right: 640px;
    align-items: center;
    margin-bottom: 100px;
}

.menubar a{
    text-decoration: none;
    color: #8987A1;
}

.menubar a:hover{
    color: #4E47FF;
}

/* footer style end here */