*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
 
}

/* shared style start here  */
.primary-btn{
    border: none;
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;

}

.primary-btn:hover{
    background-color: #ffffff75;
    border: 2px solid #4E47FF;
    color: #4E47FF;
}


.paragraph-style{
    font-weight: 400;
    font-size: 24px;
    color: #25243275;
    margin-bottom: 24px;
}

/* shared style end here */
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    margin-bottom: 115px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding-top: 50px
}

nav h1{
    color: #4E47FF;
    font-weight: 800;
    font-size: 34px;
}

.banner-section{
    display: block;
    text-align: center;
    align-items: center;
    margin: 200px 265px 150px 265px;
}

.banner-section h1{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;
}

.action{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 15px;
    padding: 25px;
    background-color: aliceblue;
}

.action-content h2{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 24px;
    color: #252432;
}

.action-img img{
    border-radius: 48px;
}